/*-------------------------------------Elements-------------------------------------*/



h1 {
  color: #fff;
  font-weight: bold;
  margin: 0 0 40px;
  font-family: "Titillium Web", sans-serif;
}

a {
  font-weight: bold;
}


/*-------------------------------------IDs-------------------------------------*/

/* Hide register and reset password form because when we use nav-tabs it won't complete disapear. used jQuery to change it whenever button is clicked */
#register {
  display: none;
}

#passform {
  display: none;
}


/*-------------------------------------Classes-------------------------------------*/

.container {
  background-color: #36424b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;


}

.err {
  font-size: .7rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(230, 20, 20);
}

.error{
  border: solid;
  border-color: red;
  color: red;
}

@media (max-width: 575px){

  .container {
    background-color: #36424b;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
  
  }
}
.login-register {
  padding-top: 2%;
  margin-bottom: 3.5%;
    font-family: "Roboto", sans-serif;
}

.login-register .nav-tabs > li > a {
  color: #fff;
}

.login-register .nav-tabs > li > a.active {
  background-color: #537780;
  border-color: #537780;
  border-bottom: 0.4rem solid #014572;
  color: white;
}

.login-register .nav-tabs > li > a:hover {
  background-color: #11d3bc;
  border-bottom: 0.4rem solid #005792;
  color: white;
  font-style: italic;
  font-weight: bold;
  filter: brightness(50%);
}

.login-register .nav-tabs > ul > li > a,
.login-register .nav-tabs > ul > li > a.active {
  border-radius: 3%;
  text-align: center;
  width: auto;
}

/* Buttons */
.btn-custom {
  background-color: #11d3bc;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0.5rem;
  width: 30%;
}



.suc-message {
  color: #fff;
  text-align: center;
}