/*-------------------------------------Elements-------------------------------------*/

body {
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  color: #000;
  font-weight: bold;
  margin: 0 0 40px;
  font-family: "Titillium Web", sans-serif;
}

a {
  font-weight: bold;
}

footer {
  background: #f2f2f2;
}

body {
  background-color: #f2f2f257 ;
}

/*-------------------------------------IDs-------------------------------------*/

/* Hide register and reset password form because when we use nav-tabs it won't complete disapear. used jQuery to change it whenever button is clicked */
#register {
  display: none;
}

#passform {
  display: none;
}
#message {
  display: none;
}



/*-------------------------------------Classes-------------------------------------*/

.container {
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;


}
.editMode {
  border: 1px solid black;
}
.edit-profile {
  color: #fff;

}
.err {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(230, 20, 20);
}

.err-login {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(233, 15, 15);
}


.error{
  border: solid;
  border-color: red;
  color: red;
}

@media (max-width: 575px){

  .container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
  
  }
}
.login-register {
  border: 2px solid #949494;
  border-radius: 18px 9px 40px 0px;
  padding-top: 2%;
  margin-bottom: 3.5%;
  font-family: "Roboto", sans-serif;
-webkit-box-shadow: 0px -1px 18px -3px #000000; 
box-shadow: 0px -1px 18px -3px #000000;
background-image: url('../images/86373.jpg');
}

.login-register .nav-tabs > li > a {
  color: #000;
}

.login-register .nav-tabs > li > a.active {
  background-color: rgb(139,145,149);
  border-color: #537780;
  border-bottom: 0.2rem solid #414141;
  color: white;
}

.login-register .nav-tabs > li > a:hover {
  background-color: #f9f9f9;
  border-bottom: 0.4rem solid #5c5e5f;
  color: #000;
  font-style: italic;
  font-weight: bold;
  filter: brightness(50%);
}

.login-register .nav-tabs > ul > li > a,
.login-register .nav-tabs > ul > li > a.active {
  border-radius: 3%;
  text-align: center;
  width: auto;
}

/* Buttons */
.btn-custom {
  background-color: rgb(51,51,51);
  border-radius: 0;
  color: #fff;
  margin-bottom: 0.5rem;
  width: 30%;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
}


.suc-message {
  color: #fff;
  text-align: center;
}


.navbar-light .navbar-brand {
  font-family: 'Lexend Tera', sans-serif;
}

.bg-light  {
  background-color: #f2f2f2;
}